body{
    margin: 0;
}

main{
    min-height: 80vh;
}

header{
    background-color: #0ca15b;
    color: rgb(235, 235, 235);
}

.color-y{
    color: #0ca15b;
    text-decoration: underline;
    /* text-shadow: -1px 1px #847f03; */
}

.center{
    display: flex;
    justify-content: center;
}

.display-flex{
    display: flex;
}

.container{
    margin: auto 25px;
    padding: auto 25px;
}

.column-1{
    width: 100%;
    margin: 0;
}

.column-2{
    display: none;
}

@media(min-width:767px){
.column-1{
    width: 50%;
    margin-left: 5%;
}

.column-2{
    width: 35%;
    display: flex;
    justify-content: start;
}

.column-2.img{
    position: absolute;
    right: 0;
    top: calc(20%);
}
.img-wrapper{
    width: 28rem;
    height: 30rem;
    margin-right: 2rem;
    overflow: hidden;
}
.column-2 .img-wrapper .image{
    height: 100%;
    width: 100%;
}

}
footer{
    background-color: rgb(59, 59, 59);
    color: white;
    padding: 10px 0;
}
